h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 28px;
}

table {
    width: 90%;
    max-height: 70vh;
    margin: 20px auto;
    border-collapse: collapse;
    background: #1e272e;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

th {
    background: #3a3d3e;
    color: #00d8ff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    position: sticky;
    top: 0;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #444;
    color: #FFFFFF;
}

tr:hover {
    background: #2c3e50;
    transition: 0.3s;
}